<%= div_for contact, class: 'col-md-3' do %>
  <div>
    <div class='name-tag'>
      <%= contact.name %>
    </div>
    <div class='detail'>
      <%= contact.email %>
    </div>
    <div class='actions'>
      <%= render "contacts/actions/#{contact.status}", contact: contact %>
    </div>
  </div>
<% end %>