<div class="jumbotron">
  <h1>Kontax Demo App</h1>
  <p>This app was created to demo the transponderJS library for rails.</p>
  <p>
    <%= link_to "View Contacts »", contacts_path, class: 'btn btn-lg btn-success' %>
  </p>
</div>