<div class="jumbotron">
  <h1>Kontax Demo App</h1>
  <p>
    This app was created to demo the <a href='http://xpdr.github.io/transponder' target='_blank'>Transponder</a> gem for rails.
  </p>
  <p>The source code for this app is here <a href='http://github.com/xpdr/kontax' targe='_blank'>Kontax on Github</a></p>
  <p>
    <%= link_to "View Contacts »", contacts_path, class: 'btn btn-lg btn-success' %>
  </p>
</div>