<footer class='container'>
  <span>This app was created to demonstrate the capabilities of <a href='http://github.com/xpdr/transponder' target='_blank'>Transponder Gem</a>. You can get the source here:</span>  
  <span><a href='http://github.com/xpdr/kontax' target='_blank'>Kontax Source Code</a></span>
</footer>